/* Resources Used: youtube'r Dev Ed, kevin   */
:root{
    --DANDELION-red_pur-rgba: rgba(115, 2, 85, 1); 
    --DANDELION-pur-rgba: rgba(81, 2, 115, 1); 
    --DANDELION-org-rgba: rgba(217, 4, 4, 1); 
    --DANDELION-red-rgba: rgba(140, 3, 3, 1); 
    --DANDELION-blk-rgba: rgba(13, 13, 13, 1);
/* Above are the colors I want to use. */
}

 body{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

.app{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.time-selection,
.sound-picker,
.player-container{
    flex: 1;
    display: flex;
    flex-direction:column;
    display: grid;
    place-items: center;
}

.time-selection,
.sound-picker{
    height: 50%;
}

.player-container{
    height: 85%;
    position: relative;
}
.player-container svg{ /*play button*/
    position: absolute;
    height: 50%;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    
}

.time-selection button{
    margin: 20px;
    padding: 20px;
    background: var(--DANDELION-org-rgba);
    color: var(--DANDELION-blk-rgba);
    font-weight:normal;
    font-size:22px;
    font-family: fantasy;
    border-radius: 5%;
    
}

.time-selection button:hover{/*CHANGE LATER TO MATCH ORIGINAL colors I said. */
    color: var(--DANDELION-org-rgba); 
    background-color: aqua;
    transition: all 2s ease;
    
}


.sound-picker button{
    width: 120px;
    height: 120px;
    background: none;
    border: outset black;
    cursor: pointer;
    border-radius: 30px;
    border-top-left-radius: 50%;
    padding: 15px;
    margin: 10px;
}
.sound-picker button img{
    height: 100%;
    padding: 4px;
}

.sound-picker button:hover{
    transform:translate(20%) scale(1.5);
    transition: all 0.8s ease;
    padding: 20px;
}
.sound-picker button:nth-child(1){
background: var(--DANDELION-pur-rgba);
}
.sound-picker button:nth-child(2){
background: var(--DANDELION-red-rgba);
}
.sound-picker button:nth-child(3){
    background: lightblue;
}

.video-container{
   margin: 0%;
   padding: 0%;
}
.time-display{
    position:absolute;
    top: 35%;
    font-size: 40px;
    font-weight:bolder;
    font-family: fantasy;
}
video{
   position: absolute;
   top: 0%;


    z-index: -10;
}